/* [dfw]: add icons for "add album", "challenge album", and "similar dress search" */

#g-view-menu #g-download-album-link {
  background-image: url('../images/download-album.png');
}

#g-view-menu #g-add-album-link {
  background-image: url('../images/add-album.png');
}

#g-view-menu #g-challenge-album-link {
  background-image: url('../images/challenge.png');
}

#g-view-menu #g-similar-dress-link {
  background-image: url('../images/similar-dress.png');
}