/* 
    Document   : personal_customized
    Created on : Jan 29, 2015, 9:54:47 PM
    Author     : dongfwan
    Description:
        Purpose of the stylesheet follows.
*/

nav.dfw-dropdown-nav {
  position: relative;
}

.dfw-dropdown-toggle {
  padding: .5em 1em;
  border-radius: .2em .2em 0 0;
}

ul.dfw-dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}
